body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #e50914; /* Vermelho Netflix */
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #555;
  border: none;
  color: #fff;
}

.login-form button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #e50914; /* Vermelho Netflix */
  border: none;
  color: #fff;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #b90710;
}
